<!--index.wxml-->
<view class="container">

	<view class="index_serch w">
		<view class="index_serch_l">
			<text>{{city}}</text>
			<!-- <image src="../../images/xia.png"></image> -->
		</view>
		<view class="index_search_r">
			<input bindinput="searchVal" confirm-type="搜索" bindconfirm='search' placeholder='搜索宠物类目、名称' ></input>
			<icon bindtap='search' class="icon" type="search" size='15' ></icon>
		</view>
	</view>

	<view class="index_banner w">
		<swiper indicator-dots="{{indicatorDots}}"
		autoplay="{{autoplay}}" interval="{{interval}}" duration="{{duration}}"
		circular="{{circular}}">
			<block wx:for="{{bannerList}}" wx:key="index" >
				<swiper-item>
				<image mode="aspectFill" src="{{item.bannerImgPath}}" class="slide-image"/>
				</swiper-item>
			</block>
		</swiper>
	</view>

	<view class="index_nav w">
		<view class="index_nav_item" data-id='store' bindtap='category'>
			<image mode='aspectFit' src="../../images/vip/huiyuandian.png"></image>
			<view>会员店</view>
		</view>
		<view class="index_nav_item" data-id='' bindtap='category'>
			<image mode='aspectFit' src="../../images/vip/dog_icon.svg"></image>
			<view>宠物</view>
		</view>
		<view class="index_nav_item" data-id='vip' bindtap='category'>
			<image mode='aspectFit' src="../../images/vip/house_icon.png"></image>
			<view>会员</view>
		</view>
		<view class="index_nav_item" data-id='concat'>
			<button open-type="contact" bindcontact="handleContact"></button>
			<image mode='aspectFit' class="index_cancat" src="../../images/cs_icon.svg"></image>
			<view>客服</view>
		</view>
	</view>

	<view class="index_nav index_seckill w">
		<view class="index_nav_item" data-id='store' bindtap='seckillHandle'>
			<image mode='aspectFit' src="../../images/seckill.png"></image>
			<view>秒杀</view>
		</view>
		<view class="index_nav_item flex2" data-id=''>
			<image mode='aspectFit' src="../../images/seckill2.png"></image>
		</view>
		<view class="index_nav_item" data-id='' bindtap="groupHandle">
			<image mode='aspectFit' class="index_cancat" src="../../images/group.png"></image>
			<view>拼团</view>
		</view>
	</view>

	<!-- <view class="index_register" bindtap='huntsman'>
		<image src="../../images/banner.png"></image>
	</view> -->

	<view class="index_new w">
		<view class="index_new_title" bindtap='newMore' >
			<view class="new_title_l">最新瑞宠</view>
			<view class="new_title_r">
				<text>更多</text>
			</view>
		</view>

		<scroll-view class="new_scrollview" scroll-x>
			<view class="new_main">
				<image mode="aspectFit" wx:if="{{loading}}" id="loading" src="../../images/dog.gif"></image>
				<view class="new_main_item" bindtap='goodsDetail'
				 data-id='{{item.petId}}'
				 wx:for="{{goodsList.newPets}}" wx:key="index" >
					<text class="sort">{{item.petNo}}</text>
					<image src="{{item.imgPath}}"></image>
					<view class="name index_price_box">{{item.petName}}</view>

					<!-- <view wx:if="{{hunters}}" class="shang">
						<text class="s_price">售￥{{item.price/100}}</text>
						<text class="s_shang">赏：￥{{item.moneyRewardPrice / 100}}</text>
					</view> -->

					<view wx:if="{{hunters}}" class="index_price_box">
						<view class="price">￥{{item.price/100}}</view>
						<text class="s_shang">赏：￥{{item.moneyRewardPrice / 100}}</text>
					</view>

					<view  class="index_price_box" wx:else>
						<view class="price">￥{{item.price/100}}</view>
						<view class="buy">购买</view>
					</view>
					
				</view>
			</view>
		</scroll-view>

	</view>

	<view class="index_new w">
		<view class="index_new_title" bindtap='boutique'>
			<view class="new_title_l">特别推荐</view>
			<view class="new_title_r">
				<text>更多 </text>
			</view>
		</view>

		<scroll-view class="new_scrollview" scroll-x>
			<view class="new_main">
				<view class="new_main_item" bindtap='goodsDetail' 
				data-id="{{item.petId}}"
				wx:for="{{goodsList.recommendPets}}" wx:key="index" >
					<text class="sort">{{item.petNo}}</text>
					<image src="{{item.imgPath}}"></image>
					<view class="name index_price_box">{{item.petName}}</view>
					
					<!-- <view wx:if="{{hunters}}" class="shang">
						<text class="s_price">售￥{{item.price/100}}</text>
						<text class="s_shang">赏￥{{item.moneyRewardPrice / 100}}</text>
					</view> -->

					<view wx:if="{{hunters}}" class="index_price_box">
						<view class="price">￥{{item.price/100}}</view>
						<text class="s_shang">赏：￥{{item.moneyRewardPrice / 100}}</text>
					</view>

					<view  class="index_price_box" wx:else>
						<view class="price">￥{{item.price/100}}</view>
						<view class="buy">购买</view>
					</view>

				</view>
			</view> 
		</scroll-view>

	</view>



	<view class="getInfoItem"  wx:if="{{!hasUserInfo && canIUse}}">

		<view class="getInfoBox">
			<image class="cat" src="../../images/dog.gif"></image>
			<view class="getInfoBox_text">我们正在努力加载中...</view>
			<!-- <button class="getInfoBtn" bindtap="openSetting"> 确定 </button>  -->
			<button class="getInfoBtn" open-type="getUserInfo" bindgetuserinfo="getUserInfo"> 确定 </button>
		</view> 
		
	</view>

	<view class="getInfoItem"  wx:if="{{!haslocation}}">

		<view class="getInfoBox">
			<image class="cat" src="../../images/dog.gif"></image>
			<view class="getInfoBox_text">我们正在努力加载中...</view>
			<button class="getInfoBtn" bindtap="openSetting"> 确定 </button> 
		</view>
		
	</view>

	<view class="footer">
		<view class="footer_item">
			<image src="../../images/home_icon_Selected.svg"></image>
			<view class="txt">首页</view>
		</view>
		<view class="footer_item" bindtap='footerNav'>
			<image src="../../images/me_icon_ordinary.svg"></image>
			<view>我的</view>
		</view>
	</view>

</view>

