<!--pages/vip/collect/collect.wxml-->

<view>
	<view class="cart_row w" wx:for="{{list}}" wx:key="{*this}" data-idx="{{index}}" bindtap='toDetail'>
		<image class="img" mode='aspectFill' src="{{item.mainImgPaths[0]}}"></image>
		<view class="info">
			<view class="name">{{item.goodsName}}</view>
			<text>平台配送</text>
			<view class="p">
				<view>￥{{item.vipPrice / 100}}</view>
				<!-- <text>数量：</text>
				<text class="n">1</text> -->
				<!-- <text data-idx="{{index}}" bindtap='addHandle'>+</text> -->
			</view>
			<view class="old">零售价: ￥{{item.retailPrice / 100}} <text></text> </view>
		</view>
	</view>
</view>

<view class="noData" wx:if="{{lastPage}}">没有更多了</view>
