<!--pages/merchant/merchant.wxml-->
<view class="page">
	<view class="merchant_top w">
		<!-- <image class="merchant_top_bg" src="../../images/gir_bg.png"></image> -->

		<view class="merchant_top_content">
			<image class="top_l" src="{{info.headImgPath}}"></image>
			<view class="top_r">
				<view class="name">{{info.nickname}}</view>
				<view class="addr">
					<!-- <image src="../../images/addr.png"></image> -->
				{{info.province || ''}}{{info.district || ''}}</view>
			</view>
		</view>

	</view>

	<view class="merchant_count w">
		<view class="item">
			<text>{{info.collectCounts}}</text>
			<view>猎物量</view>
		</view>
		<view class="item">
			<text>--</text>
			<view>今日收益</view>
		</view>
		<view class="item">
			<text>--</text>
			<view>收益</view>
		</view>
	</view>

	<view class="merchant_title w">
		他的猎物 <text></text>
	</view>

	<view class="animal_list">
		<view class="animal_list_item w" wx:for="{{list}}" wx:key="index">
			<text class="num">{{item.petNo}}</text>
			<image bindtap='toDetail' data-id="{{item.petId}}" class="img" src="{{item.imgPath}}"></image>
			<view class="name">
				<view class="name_l">{{item.petName}}
					<image wx:if="{{item.gender == 1}}" class="six" src="../../images/man.png"></image>
					<image wx:else class="six" src="../../images/gir.png"></image>
				</view>
				<view class="name_r">￥{{item.price/100}}</view>
			</view>
			<view class="label">
				<text wx:for="{{item.labelInfos}}" wx:key="index" wx:for-item="it">{{it.title}}</text>
				
			</view>
		</view>
	</view>

	<!-- <view class="merchant_bottom" bindtap='focus'>关注TA</view> -->

</view>

<view class="getInfoItem"  wx:if="{{!hasInfo}}">

		<view class="getInfoBox">
			<image class="cat" src="../../images/dog.gif"></image>
			<view class="getInfoBox_text">我们正在努力加载中...</view>
			<button class="getInfoBtn" open-type="getUserInfo" bindgetuserinfo="getUserInfo"> 确定 </button>
		</view> 
		
</view>
