<!--pages/vip/detail/detail.wxml-->
<swiper class="swiper" indicator-dots="{{true}}">
  <block wx:for="{{detailImgPaths}}" wx:key="{*this}">
    <swiper-item class="swiper_item">
      <image mode='aspectFill' src="{{item}}" class="slide-image"/>
    </swiper-item>
  </block>
</swiper>

<view class="detail_info w">
	<view class="name">{{goodsName}}</view>
	<view class="price">会员价: ￥{{vipPrice / 100}}</view>
	<view class="old"> 零售价: ￥{{retailPrice / 100}} <text></text> </view>
</view>

<view class="detial_imgs">
	<image wx:for="{{detailImgPaths}}" wx:key="{*this}" mode='widthFix' src="{{item}}"></image>
</view>

<view class="detail_bottom w">
	<view class="kf">
		<image mode='aspectFit' src="../../../images/vip/zixun.png"></image>
		咨询
		<button open-type='contact'></button>
	</view>
	<view class="kf" bindtap='collectHandle'>
		<image mode='aspectFit' src="../../../images/{{isCollect == 2?'collect3' : 'collect2'}}.png"></image>
		收藏
	</view>
	<view class="item">
		<text bindtap='addCart'>加入购物车</text>
		<text class="buy" bindtap='toPay'>购买</text>
	</view>
</view>