<!--pages/help/help.wxml-->
<view class="help_top">
	<view class="help_cancat">瑞宠客服
		<button class="concat" open-type="contact" bindcontact="handleContact"></button>
	</view>
	<view bindtap='makePhone' class="help_phone">电话客服</view>
</view>

