/* pages/vip/mine/mine.wxss */
.mine_top{
	width: 100%;
	height: 300rpx;
	background: #000;
	padding: 30rpx;
	display: flex;
	color: #fff;
}
.head_img{
	width: 150rpx;
	height: 150rpx;
	border-radius: 10rpx;
	margin-right: 30rpx;
}
.mine_top .name{
	font-size: 36rpx;
	padding: 20rpx 0;
}
.mine_top .name text{
	display: inline-block;
	font-size: 28rpx;
	padding: 4rpx 10rpx;
	background: #FFBD2F;
	border-radius: 5rpx;
}

.mine_nav{
	width:700rpx;
	height:160rpx;
	margin:-70rpx auto 30rpx;
	display: flex;
	align-items: center;
	border-radius:20rpx;
}
.mine_nav_item{
	flex: 1;
	text-align: center;
	font-size:24rpx;
	color:#999;
	position:relative;
	padding:30rpx 0;
}
.mine_nav_item .num{
	position:absolute;
	font-size:20rpx;
	background:#FC5170;
	color:#fff;
	line-height: 30rpx;
	padding:0 10rpx;
	border-radius: 15rpx;
	top:10rpx;
	right:20rpx;
}
.mine_nav_item image{
	width:60rpx;
	height:60rpx;
	margin:0 0 20rpx 0;
}
.mine_nav_item .buy{
	width:60rpx;
}

.mine_row{
	width: 690rpx;
	height: 100rpx;
	display: flex;
	align-items: center;
	margin: 0 auto 30rpx;
	padding: 0 20rpx;
	position: relative;
}
.mine_row .l_img{
	width: 40rpx;
	height: 40rpx;
	margin-right: 20rpx;
}
.mine_row .r_img{
	width: 30rpx;
	height: 30rpx;
	position: absolute;
	right: 0;
}

#vip_footer>.cur text{
	color: #FC526F;
}
