<!--pages/seckill/seckillPage/seckillPage.wxml-->
<wxs src="../../../utils/tools.wxs" module="tools" />
<scroll-view class="topScroll" scroll-x>
	<view>
		<view class="item {{nav == index && 'cur'}}" data-idx="{{index}}" bindtap='navHandle' wx:for="{{timeList}}" wx:key="{*this}">
			<text wx:if="{{item.state == 1}}">热抢中</text>
			<text wx:elif="{{item.state == 2}}">已结束</text>
			<text wx:elif="{{item.state == 3}}">未开始</text>
			<view>{{item.timeFrameName}}</view>
		</view>
	</view>
	
</scroll-view>

<view class="list">

	<view class="item" wx:for="{{list}}" wx:Key="{*this}">
		<image class="img" src="{{item.goodsCustom.mainImgPaths[0]}}" data-id="{{item.seckillTimeFrameGoodsId}}" bindtap='toDetail'></image>
		<view class="content">
			<view class="name">{{item.goodsCustom.goodsName}}</view>
			<view class="progress">
				<progress percent="{{tools.price(item.alreadySeckillNum / item.seckillNum * 10000)}}" show-info color="#FC526F" font-size="10" />
			</view>
			<view class="num">
				<text>已抢 {{item.alreadySeckillNum}} 件</text>
				<!-- <text>80%</text> -->
			</view>
			<view class="price">
				会员价：￥{{tools.price(item.seckillPrice)}}
				<text>￥{{tools.price(item.goodsCustom.retailPrice)}}</text>
			</view>
			<text class="btn" data-id="{{item.seckillTimeFrameGoodsId}}" bindtap='toPay' wx:if="{{timeList[nav].state == 1 && item.alreadySeckillNum < item.seckillNum}}">马上抢</text>
			<text class="btn2" wx:elif="{{timeList[nav].state == 2}}">已结束</text>
			<text class="btn2" wx:else>已抢光</text>
		</view>
	</view>

</view>
