<!--pages/seckill/group/group.wxml-->
<wxs src="../../../utils/tools.wxs" module="tools" />
<view class="group_item" wx:for="{{list}}" wx:key="{*this}" data-id="{{item.groupBuyGoodsId}}" bindtap='toDetail'>
	<text class="man">{{item.groupBuyLimitNum}}人团</text>
	<image class="img" mode="aspectFill" src="{{item.goodsCustom.mainImgPaths[0]}}"></image>
	<view class="name">
		{{item.goodsCustom.goodsName}}
	</view>
	<view class="price">¥ {{tools.price(item.groupBuyPrice)}}</view>
	<view class="btn" data-id="{{item.groupBuyGoodsId}}">拼团</view>
</view>
