<!--pages/vip/detail/detail.wxml-->
<wxs src="../../../utils/tools.wxs" module="tools" />
<swiper class="swiper" indicator-dots="{{true}}">
  <block wx:for="{{list.goodsCustom.detailImgPaths}}" wx:key="{*this}">
    <swiper-item class="swiper_item">
      <image mode='aspectFill' src="{{item}}" class="slide-image"/>
    </swiper-item>
  </block>
</swiper>

<view class="detail_info w">
	<view class="name">{{list.goodsCustom.goodsName}}</view>
	<view class="price">团购价: ￥{{tools.price(list.groupBuyPrice)}}</view>
	<view class="old"> 零售价: ￥{{tools.price(list.goodsCustom.vipPrice)}} <text></text> </view>
</view>

<view class="detial_imgs">
	<image wx:for="{{list.goodsCustom.detailImgPaths}}" wx:key="{*this}" mode='widthFix' src="{{item}}"></image>
</view>

<!-- <view class="detail_bottom w"> 
	<view class="kf">
		<image mode='aspectFit' src="../../../images/vip/zixun.png"></image>
		咨询
		<button open-type='contact'></button>
	</view>
	<view class="kf" bindtap='collectHandle'>
		<image mode='aspectFit' src="../../../images/{{list.goodsCustom.isCollect == 2?'collect3' : 'collect2'}}.png"></image>
		收藏
	</view>
	<view class="item">
		<text bindtap='addCart'>加入购物车</text>
		<text class="buy" bindtap='toPay'>购买</text>
	</view>
</view> -->
<view class="group_btn">
	<view data-id="{{list.groupBuyGoodsId}}" bindtap='groupPay'>￥ {{tools.price(list.groupBuyPrice)}} 一键开团</view>
</view>


<view class="getInfoItem"  wx:if="{{!hasInfo}}">

	<view class="getInfoBox">
		<image class="cat" src="../../../images/dog.gif"></image>
		<view class="getInfoBox_text">我们正在努力加载中...</view>
		<button class="getInfoBtn" open-type="getUserInfo" bindgetuserinfo="getUserInfo"> 确定 </button>
	</view> 
	
</view>